<% content_for :search_bar do %>
  <%= search_form_for @q, class: "d-flex" do |f| %>
    <%= f.search_field :title_or_description_cont, class: "form-control me-2" %>
    <%= f.submit "Search",  class: "btn btn-outline-success" %>
  <% end %>
<% end %>

<h1 class="text-center mt-4">Articles Listing Page</h1>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container=> false %>
</div>

<%= render 'article' %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @articles, :container=> false %>
</div>

